@media screen and (max-width: 709px) {

    .club{
        display: flex;
        flex-direction: column;
        padding: auto;
    }
    .club-img{
        width: 12.5em;
    }

    .partidos{
        display: flex;
        flex-direction: column;
        padding: auto;
    }
    .partidos-img{
        width: 12.5em;
    }
    .galeria-multimedia {
        display: grid;
        grid-template-columns: auto; 
        grid-template-rows: auto auto auto auto;
        margin:  10px;
    }
}