/*MIXINS CARDS*/
@mixin section-card{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #38101e;
    border-radius: 10px;
    margin: 10px;
}
@mixin img-card{
    height: auto;
    padding: .20rem;
    width: 25rem;
}
@mixin box-card{
    flex: 1 1 70%;
}
@mixin texto-card{
    padding-right: 1.1em;
    text-align: justify;
}

/*MIXINS MULTIMEDIA*/
@mixin image-multimedia{
    width: 100%;
    height: 100%; 
    border: solid 1px black;
}