$backgraundcolor: #6b1e39;
$navcolor: #822447;
$navbordercolor: #b43261;
$headercolor: #411224;
$footercolor: #55172E;
$footerbordercolor: #38101e;
$black: #000000;
$white: #D9D9D9;

$fontcolor1: #ffffff;
$fontcolor2: #0000008c;